@import url("https://fonts.googleapis.com/css?family=Lato|Montserrat&display=swap");

/*----Mise en forme générale---*/

html {
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(255, 234, 167);
}

header {
  background-color: rgba(255, 127, 80, 1);
}

h1 {
  font-size: 4rem;
}

aside {
  background-color: rgba(223, 228, 234, 1);
  width: 25rem;
  height: 30rem;
}

footer {
  text-align: center;
  background-color: rgba(255, 127, 80, 1);
}

/*---Listes des classes----*/

.logo {
  width: 4rem;
  height: 4rem;
}

.atouts {
  width: 40rem;
  height: 0rem;
  position: relative;
}

.photo {
  position: relative;
  border: 10px solid rgba(214, 48, 49, 1);
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

.aside-left {
  float: left;
}

.aside-right {
  float: right;
}

.position-section {
  position: relative;
}
